//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 11 18:11:06 2019
//! **************************************************************************

SCHEMATIC START;
COMP "PWM_OUT" LOCATE = SITE "P21" LEVEL 1;
COMP "CLK" LOCATE = SITE "P126" LEVEL 1;
SCHEMATIC END;

