//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 20 16:51:28 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P126" LEVEL 1;
COMP "SDA" LOCATE = SITE "P33" LEVEL 1;
COMP "SCL" LOCATE = SITE "P35" LEVEL 1;
COMP "rst" LOCATE = SITE "P23" LEVEL 1;
SCHEMATIC END;

